
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.img-banner{
    max-width: 100%;
    width: 50%;
    height: auto;
}

.img-banner-fon{
    background-color: #28AD56;

}



.img-banner-fon >h4 {
    padding: 1rem;
    color: white;
}

#map{

    height: 100% ;

}

/*Menu vertical*/

.vertical-menu {
    position: absolute;
    width: 14%;
    height: 100% !important;
    background-color: #eee;
    z-index: 1;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

/*tooltip*/
.tooltip-contenedor {
    font-weight: normal;
    color: #3c48e5;
    text-decoration: none;
    position: relative;
}

.tooltip-contenedor:hover {
    text-decoration: underline;
}

.tooltip-contenedor:hover .tooltip-box {
    display: inline-block;
}

.tooltip-box {
    width: 75px;
    display: none;
    position: absolute;
    background:  rgba(0, 0, 0, 0.6);;
    line-height: 20px;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    left: 0;
    right: 0;
    bottom: 30px;
}

.tooltip-box::after {
    content: "";
    display: block;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: calc(50% - 7px);
}


/*menu contenido*/


.contenido-menu{
    display: none;
    position: absolute;
    left: 14%;
    width: 50.7%;
    height: 100%;
    z-index: 1;
    background-color: #ffffff;
}

.vertical-menu .proyecto:hover sectio > .contenido-menu{
    display: block;
    transition: all .5s ease;
}


li{
    list-style: none;

}
li > label{
    font-size: 15px;
}

.close{
    position: absolute;
    z-index: 1;
    right:1px;
    padding: .2rem;
    color: white;
}



/*arbol en menu*/

#check-menu{
    display: none;
}
#menu{
    position: absolute;
    left: -35px;
}

#menu * {
    list-style: none;
}

#menu li {
    line-height: 180%;
}

#menu li a {
    color: #222;
    text-decoration: none;
}

#menu li a:before {
    content: "\0271a";
    color: #ddd;
    margin-right: 4px;
}

#menu input[name="list"] {
    position: absolute;
    left: -1000em;
}

#menu label:before {
    content: "\0271a";
    margin-right: 4px;
}

#menu input:checked~label:before {
    content: "\025b8";
    transform: rotate(90deg) !important;
}

#menu .interior {
    display: none;
}

#menu input:checked~ul {
    display: block;
}

/*menu arquitectura*/
.h-1{
    background-color: #FB9931;
    width: 15px;
    height: 15px;
    position: relative;
    top: -21px;
    left: 12%;
    border-radius: 15px;
}

.text-menu{
    position: relative;
    top: -44px;
    left: 25%;
}

.tam-men{
    height: 25px !important;
}

.h-2{
    background-color: #07CD21;
    width: 15px;
    height: 15px;
    position: relative;
    top: -21px;
    left: 12%;
    border-radius: 15px;
}
.h-3{
    background-color: #FF0000;
    width: 15px;
    height: 15px;
    position: relative;
    top: -21px;
    left: 12%;
    border-radius: 15px;
}
.h-4{
    background-color: #0076F7;
    width: 15px;
    height: 15px;
    position: relative;
    top: -21px;
    left: 12%;
    border-radius: 15px;
}

.interior{
    position: relative;
    left: -23px;
}





/*medias */

@media (min-width: 576px) { 
    .vertical-menu{
        width: 14%;
    }

    .contenido-menu{

        left: 4%;
        width: 20.7%;
    }
}


@media (min-width: 768px) { 
    .vertical-menu{
        width: 4%;
    }
 }